<div id="map" style="height: 400px; width: 100%;"></div>
    <script>
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 26.8172826, lng: 25.5844812},
                zoom: 2,
                styles: [
                    {
                        "featureType": "all",
                        "elementType": "all",
                        "stylers": [
                            {
                                "visibility": "on"
                            }
                        ]
                    },
                    {
                        "featureType": "all",
                        "elementType": "labels",
                        "stylers": [
                            {
                                "visibility": "off"
                            },
                            {
                                "saturation": "-100"
                            }
                        ]
                    },
                    {
                        "featureType": "all",
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "saturation": 36
                            },
                            {
                                "color": "#000000"
                            },
                            {
                                "lightness": 40
                            },
                            {
                                "visibility": "off"
                            }
                        ]
                    },
                    {
                        "featureType": "all",
                        "elementType": "labels.text.stroke",
                        "stylers": [
                            {
                                "visibility": "off"
                            },
                            {
                                "color": "#000000"
                            },
                            {
                                "lightness": 16
                            }
                        ]
                    },
                    {
                        "featureType": "all",
                        "elementType": "labels.icon",
                        "stylers": [
                            {
                                "visibility": "off"
                            }
                        ]
                    },
                    {
                        "featureType": "administrative",
                        "elementType": "geometry.fill",
                        "stylers": [
                            {
                                "color": "#000000"
                            },
                            {
                                "lightness": 20
                            }
                        ]
                    },
                    {
                        "featureType": "administrative",
                        "elementType": "geometry.stroke",
                        "stylers": [
                            {
                                "color": "#000000"
                            },
                            {
                                "lightness": 17
                            },
                            {
                                "weight": 1.2
                            }
                        ]
                    },
                    {
                        "featureType": "landscape",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#000000"
                            },
                            {
                                "lightness": 20
                            }
                        ]
                    },
                    {
                        "featureType": "landscape",
                        "elementType": "geometry.fill",
                        "stylers": [
                            {
                                "color": "#4d6059"
                            }
                        ]
                    },
                    {
                        "featureType": "landscape",
                        "elementType": "geometry.stroke",
                        "stylers": [
                            {
                                "color": "#4d6059"
                            }
                        ]
                    },
                    {
                        "featureType": "landscape.natural",
                        "elementType": "geometry.fill",
                        "stylers": [
                            {
                                "color": "#4d6059"
                            }
                        ]
                    },
                    {
                        "featureType": "poi",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "lightness": 21
                            }
                        ]
                    },
                    {
                        "featureType": "poi",
                        "elementType": "geometry.fill",
                        "stylers": [
                            {
                                "color": "#4d6059"
                            }
                        ]
                    },
                    {
                        "featureType": "poi",
                        "elementType": "geometry.stroke",
                        "stylers": [
                            {
                                "color": "#4d6059"
                            }
                        ]
                    },
                    {
                        "featureType": "road",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "visibility": "on"
                            },
                            {
                                "color": "#7f8d89"
                            }
                        ]
                    },
                    {
                        "featureType": "road",
                        "elementType": "geometry.fill",
                        "stylers": [
                            {
                                "color": "#7f8d89"
                            }
                        ]
                    },
                    {
                        "featureType": "road.highway",
                        "elementType": "geometry.fill",
                        "stylers": [
                            {
                                "color": "#7f8d89"
                            },
                            {
                                "lightness": 17
                            }
                        ]
                    },
                    {
                        "featureType": "road.highway",
                        "elementType": "geometry.stroke",
                        "stylers": [
                            {
                                "color": "#7f8d89"
                            },
                            {
                                "lightness": 29
                            },
                            {
                                "weight": 0.2
                            }
                        ]
                    },
                    {
                        "featureType": "road.arterial",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#000000"
                            },
                            {
                                "lightness": 18
                            }
                        ]
                    },
                    {
                        "featureType": "road.arterial",
                        "elementType": "geometry.fill",
                        "stylers": [
                            {
                                "color": "#7f8d89"
                            }
                        ]
                    },
                    {
                        "featureType": "road.arterial",
                        "elementType": "geometry.stroke",
                        "stylers": [
                            {
                                "color": "#7f8d89"
                            }
                        ]
                    },
                    {
                        "featureType": "road.local",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#000000"
                            },
                            {
                                "lightness": 16
                            }
                        ]
                    },
                    {
                        "featureType": "road.local",
                        "elementType": "geometry.fill",
                        "stylers": [
                            {
                                "color": "#7f8d89"
                            }
                        ]
                    },
                    {
                        "featureType": "road.local",
                        "elementType": "geometry.stroke",
                        "stylers": [
                            {
                                "color": "#7f8d89"
                            }
                        ]
                    },
                    {
                        "featureType": "transit",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#000000"
                            },
                            {
                                "lightness": 19
                            }
                        ]
                    },
                    {
                        "featureType": "water",
                        "elementType": "all",
                        "stylers": [
                            {
                                "color": "#2b3638"
                            },
                            {
                                "visibility": "on"
                            }
                        ]
                    },
                    {
                        "featureType": "water",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#2b3638"
                            },
                            {
                                "lightness": 17
                            }
                        ]
                    },
                    {
                        "featureType": "water",
                        "elementType": "geometry.fill",
                        "stylers": [
                            {
                                "color": "#24282b"
                            }
                        ]
                    },
                    {
                        "featureType": "water",
                        "elementType": "geometry.stroke",
                        "stylers": [
                            {
                                "color": "#24282b"
                            }
                        ]
                    },
                    {
                        "featureType": "water",
                        "elementType": "labels",
                        "stylers": [
                            {
                                "visibility": "off"
                            }
                        ]
                    },
                    {
                        "featureType": "water",
                        "elementType": "labels.text",
                        "stylers": [
                            {
                                "visibility": "off"
                            }
                        ]
                    },
                    {
                        "featureType": "water",
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "visibility": "off"
                            }
                        ]
                    },
                    {
                        "featureType": "water",
                        "elementType": "labels.text.stroke",
                        "stylers": [
                            {
                                "visibility": "off"
                            }
                        ]
                    },
                    {
                        "featureType": "water",
                        "elementType": "labels.icon",
                        "stylers": [
                            {
                                "visibility": "off"
                            }
                        ]
                    }
                ]
            });
            
            var markers = [
                {lat:40.75119590319461, lng:-74.00342581380743, title: 'Central Rock Gym', url: 'https://maps.app.goo.gl/JgAws6VF6QCZ1kUQ7'},
                {lat:40.74873291705909, lng:-73.94872796756484, ctitle: 'The Cliffs', url: 'https://maps.app.goo.gl/pXNccy9b3eQVTKNH8'},
                {lat:40.752738000932354, lng:-73.94001630160022, title: 'Brooklyn Boulders Queensbridge', url: 'https://maps.app.goo.gl/jMwHDnQ9ww28rDHD9'},
                {lat:28.686772802776233, lng:-81.34616391000415, title: 'Aiguille Rock Climbing Center', url: 'https://maps.app.goo.gl/tySdTFBmPXkAzRyW8'},
                {lat:24.144196339480462, lng:120.69448969412322, title: '攀吶攀岩館', url: 'https://maps.app.goo.gl/7MnLsXzUFWi4GK2i9'},
                {lat:51.58089364412473, lng:-0.3442349719940664, title: 'HarroWall Climbing Centre', url: 'https://maps.app.goo.gl/5WvHfYn6uPp767Vj6'},
                {lat:51.56775378207142, lng:-0.07704166254655098, title: 'The Castle Climbing Centre', url: 'https://maps.app.goo.gl/V9LE3z4GZE4sRhwT6'},
                {lat:51.52554643987564, lng:-0.13557784987983426, title: 'EustonWall Climbing Centre', url: 'https://maps.app.goo.gl/8YtuPuUrd3KwZqEq5'},
                {lat:51.48632749375515, lng:-0.11418588763088897, title: 'VauxWall West Climbing Centre', url: 'https://maps.app.goo.gl/r2MyB4KmSm6m3LZRA'},
                {lat:51.49395604376262, lng:-0.11438036001497026, title: 'VauxWall East Climbing Centre', url: 'https://maps.app.goo.gl/J2yVTyhpNgdfiWU48'},
                {lat:51.494803581428386, lng:-0.06342859112015226, title: 'Arch Climbing Wall: Surrey Quays', url: 'https://maps.app.goo.gl/3ckDsoEqouVWSUuU8'},
                {lat:51.51562384747337, lng:-0.06576225972912811, title: 'Aldgate City Bouldering', url: 'https://maps.app.goo.gl/hEzLwapi2DhrGaEv8'},
                {lat:51.52929239532223, lng:-0.04855420721743131, title: 'Bethwall Green Climbing Centre', url: 'https://maps.app.goo.gl/J7GnEXrhRJEMghqM7'},
                {lat:51.52929710067857, lng:-0.038536127371241166, title: 'Mile End Climbing Wall', url: 'https://maps.app.goo.gl/69V1ZgwVCqVFy9Tm9'},
                {lat:51.5121269925561, lng:-0.020872273062558407, title: 'CanaryWall Climbing Centre', url: 'https://maps.app.goo.gl/L8mTVEz4LMRHqZvn9'},
                {lat:51.512233825711434, lng:0.014489968315219023, title: 'Rise Climbing', url: 'https://maps.app.goo.gl/RZHapfBVG5LNVc18A'}, 
                {lat:51.49607129122862, lng:0.049542454630720725, title: 'The Reach Climbing Wall', url: 'https://maps.app.goo.gl/oTLiQ86r8pVtLifv9'}
            ];

            var mapPinIcon = {
                url: 'https://i.imgur.com/g2HbsYD.png',
                scaledSize: new google.maps.Size(40, 40),
                origin: new google.maps.Point(0, 0),
                anchor: new google.maps.Point(20, 40)
            };

            // Loop through markers and add them to the map
            markers.forEach(function(markerInfo) {
                var marker = new google.maps.Marker({
                    position: {lat: markerInfo.lat, lng: markerInfo.lng},
                    map: map,
                    title: markerInfo.title,
                    icon: mapPinIcon
                });

                // Add click event listener for each marker
                marker.addListener('click', function() {
                    window.open(markerInfo.url, '_blank');
                });
            });

            
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key={{ .Site.Params.googleMapsAPIKey }}&callback=initMap">
    </script>